
.card{
    border-radius: 15px;
    
}
.card:hover {
    margin-top: -.30rem;
    margin-bottom: .30rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
button{
    border-radius: 30px;
    height:60px;
    font-size: small;
}
.disabled{
   opacity:0.6;          
}